**
!Dockerfile
!LICENSE
!package.json
!package-lock.json
!toolchain.json
!src/
!src/**
!scripts/
!scripts/release.gradle
**/.env
**/.env.*
**/*.jks
**/*.keystore
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.p8
**/secrets
**/node_modules
**/.git
